config bitsrunlogin-go 'config'
	option enabled '0'

	option domain ''
	# ISP type, see https://github.com/Mmx233/BitSrunLoginGo for details
	option usertype 'cmcc'
	option username ''
	option password ''

	option auto_acid '1'
	option acid '5'
	option auto_enc '1'
	option enc 'srun_bx1'
	option os 'Windows 10'
	option os_name 'windows'
	option info_prefix 'SRBX1'
	option dual_stack '0'
	list custom_header 'User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:89.0) Gecko/20100101 Firefox/89.0'

	option enable_https '0'
	option skip_cert_verify '0'
	# Maximum time allowed for connection
	option timeout '5'
	# Network check interval
	option duration '3600'

	# Interface name in regex, e.g. "eth0\.[2-3]"
	# Multi-interfaces mode will be enabled if not empty
	option interfaces ''

	# Enable debug log
	option debug '0'

