
config fchomo 'config'
	option __warning 'ACCESS CONTROL FIELDS'
	option common_tcpport '20-21,22,53,80,110,143,443,853,873,993,995,5222,8080,8443,9418'
	option common_udpport '20-21,22,53,80,110,143,443,853,993,995,8080,8443,9418'
	option smtp_tcpport '465,587'
	option stun_port '3478,19302'
	option turn_port '5349'
	option google_fcm_port '443,5228-5230'
	option steam_client_port '27015-27050'
	option steam_p2p_udpport '3478,4379,4380,27000-27100'
	option tun_name 'hmtun0'
	option tun_addr4 '198.19.0.1/30'
	option tun_addr6 'fdfe:dcba:9877::1/126'
	option route_table_id '2022'
	option route_rule_pref '9000'
	option redirect_gate_mark '2023'
	option redirect_pass_mark '2024'
	option self_mark '200'
	option tproxy_mark '201'
	option tun_mark '202'

config fchomo 'resources'
	option auto_update '0'

config fchomo 'routing'
	list routing_tcpport 'common_tcpport'
	list routing_udpport 'common_udpport'

config fchomo 'global'
	option mode 'rule'
	option find_process_mode 'off'
	option log_level 'warning'
	option unified_delay '1'
	option tcp_concurrent '1'
	list skip_auth_prefixes '127.0.0.1/8'
	list skip_auth_prefixes '::1/128'

config fchomo 'inbound'
	option mixed_port '7890'
	option redir_port '7891'
	option tproxy_port '7892'
	option tunnel_port '7893'
	option proxy_mode 'redir_tproxy'
	option tun_stack 'system'

config fchomo 'tls'
	option global_client_fingerprint 'chrome'

config fchomo 'api'
	option external_controller_port '9090'
	option dashboard_repo 'zephyruso/zashboard'

config fchomo 'sniffer'
	list skip_domain 'Mijia Cloud'

config fchomo 'dns'
	option dns_port '7853'
	option fallback_filter_geoip_code 'cn'
	list boot_server 'dns_223555'
	list bootnode_server 'dns_alidns'
	list default_server 'dns_alidns'
	list fallback_server 'dns_google'

config fchomo 'experimental'

config sniff
	option protocol 'HTTP'
	list ports '80'
	list ports '8080-8880'

config sniff
	option protocol 'TLS'
	list ports '443'
	list ports '8443'

config sniff
	option protocol 'QUIC'
	list ports '443'
	list ports '8443'

config dns_server 'dns_localbak'
	option label 'IP: LocalBak'
	option address 'udp://localhost:1053#detour=DIRECT'
	option enabled '0'

config dns_server 'dns_223555'
	option label 'IP: AliDNS'
	option address '223.5.5.5#detour=DIRECT'

config dns_server 'dns_alidns'
	option label 'DoH: AliDNS'
	option address 'https://dns.alidns.com/dns-query#detour=DIRECT&h3=true'

config dns_server 'dns_1001'
	option label 'IP: 1.0.0.1'
	option address '1.0.0.1#detour=DIRECT'

config dns_server 'dns_google'
	option label 'DoH: Google'
	option address 'https://dns.google/dns-query#detour=group_proxy'

config dns_server 'dns_ecsgoogle'
	option label 'DoH: ECS: Google'
	option address 'https://dns.google/dns-query#detour=group_proxy&ecs=223.5.5.5/24'

config dns_policy 'BAN_domain'
	option label 'BAN'
	option type 'geosite'
	list server 'block-dns'
	list geosite 'category-ads-all'

config dns_policy 'Torrent_domain'
	option label 'Torrent'
	option type 'rule_set'
	list rule_set 'rule_PrivateTracker'
	option server 'dns_1001'

config dns_policy 'SpeedTest_domain'
	option label 'SpeedTest'
	option type 'rule_set'
	list rule_set 'rule_SpeedTest'
	list server 'dns_1001'
	option proxy 'group_check'

config dns_policy 'Download_domain'
	option label 'Download'
	option type 'rule_set'
	list rule_set 'rule_GameDownload'
	list server 'dns_1001'
	option proxy 'group_download'

config dns_policy 'Game_domain'
	option label 'Game'
	option type 'rule_set'
	list rule_set 'rule_Blizzard'
	list rule_set 'rule_Epic'
	list server 'dns_google'
	option proxy 'group_game'

config dns_policy 'Netflix_domain'
	option label 'Netflix'
	option type 'rule_set'
	list rule_set 'rule_Netflix'
	list server 'dns_google'
	option proxy 'group_netflix'

config dns_policy 'HK_domain'
	option label 'HK'
	option type 'domain'
	list domain '.hk'
	list server 'dns_google'
	option proxy 'group_hk'

config dns_policy 'JP_domain'
	option label 'JP'
	option type 'domain'
	list domain '.jp'
	list server 'dns_google'
	option proxy 'group_jp'

config dns_policy 'SG_domain'
	option label 'SG'
	option type 'domain'
	list domain '.sg'
	list server 'dns_google'
	option proxy 'group_sg'

config dns_policy 'TW_domain'
	option label 'TW'
	option type 'domain'
	list domain '.tw'
	list server 'dns_google'
	option proxy 'group_tw'

config dns_policy 'US_domain'
	option label 'US'
	option type 'domain'
	list domain '.us'
	list server 'dns_google'
	option proxy 'group_us'

config dns_policy 'Proxy_domain'
	option label 'Proxy'
	option type 'geosite'
	list server 'dns_google'
	list geosite 'gfw'
	option proxy 'group_proxy'

config dns_policy 'Local_domain'
	option label 'Local'
	option type 'geosite'
	list server 'dns_alidns'
	list geosite 'cn'
	option proxy 'DIRECT'

config proxy_group 'group_proxy'
	option label '🗺Proxy'
	option type 'select'
	list groups 'group_auto'
	list groups 'group_hk'
	list groups 'group_jp'
	list groups 'group_sg'
	list groups 'group_tw'
	list groups 'group_us'
	list groups 'group_Airport'

config proxy_group 'group_stun'
	option label '🪧STUN'
	option type 'select'
	list groups 'DIRECT'
	list groups 'REJECT'
	list groups 'group_auto'
	list groups 'group_hk'
	list groups 'group_jp'
	list groups 'group_sg'
	list groups 'group_tw'
	list groups 'group_us'
	list groups 'group_Airport'

config proxy_group 'group_check'
	option label '⏱Check'
	option type 'select'
	list groups 'DIRECT'
	list groups 'group_auto'
	list groups 'group_hk'
	list groups 'group_jp'
	list groups 'group_sg'
	list groups 'group_tw'
	list groups 'group_us'
	list groups 'group_Airport'

config proxy_group 'group_download'
	option label '📦Download'
	option type 'select'
	list groups 'DIRECT'
	list groups 'group_auto'
	list groups 'group_hk'
	list groups 'group_jp'
	list groups 'group_sg'
	list groups 'group_tw'
	list groups 'group_us'
	list groups 'group_Airport'

config proxy_group 'group_game'
	option label '🎮Game'
	option type 'select'
	list groups 'group_auto'
	list groups 'group_hk'
	list groups 'group_jp'
	list groups 'group_sg'
	list groups 'group_tw'
	list groups 'group_us'
	list groups 'group_Airport'

config proxy_group 'group_netflix'
	option label '📺Netflix'
	option type 'select'
	list groups 'group_auto'
	list groups 'group_hk'
	list groups 'group_jp'
	list groups 'group_sg'
	list groups 'group_tw'
	list groups 'group_us'
	list groups 'group_Airport'

config proxy_group 'group_auto'
	option label '⚡Auto'
	option type 'url-test'
	option include_all_providers '1'
	option url 'https://cp.cloudflare.com'

config proxy_group 'group_hk'
	option label '🇭🇰 HK'
	option type 'select'
	list filter '🇭🇰|HK|hk|HongKong|香港|港'
	option include_all_providers '1'

config proxy_group 'group_jp'
	option label '🇯🇵 JP'
	option type 'select'
	list filter '🇯🇵|JP|jp|Japan|日本|日'
	option include_all_providers '1'

config proxy_group 'group_sg'
	option label '🇸🇬 SG'
	option type 'select'
	list filter '🇸🇬|SG|sg|Singapore|新加坡|狮城|新'
	option include_all_providers '1'

config proxy_group 'group_tw'
	option label '🇹🇼 TW'
	option type 'select'
	list filter '🇹🇼|TW|tw|Taiwan|台湾|臺灣|台'
	option include_all_providers '1'

config proxy_group 'group_us'
	option label '🇺🇸 US'
	option type 'select'
	list filter '🇺🇸|US|us|United States|UnitedStates|美国|美'
	option include_all_providers '1'

config proxy_group 'group_airport'
	option label '✈ Airport'
	option type 'select'
	list use 'sub_Airport'

config rules 'BAN_host'
	option label 'BAN'
	option entry '{"type":"GEOSITE","payload":[{"type":"GEOSITE","factor":"category-ads-all"}],"detour":"REJECT"}'

config rules 'ChinaDNS_host'
	option label 'ChinaDNS'
	option entry '{"type":"RULE-SET","payload":[{"type":"RULE-SET","factor":"rule_ChinaDNS"}],"detour":"DIRECT"}'

config rules 'Torrent_host'
	option label 'Torrent'
	option entry '{"type":"RULE-SET","payload":[{"type":"RULE-SET","factor":"rule_PrivateTracker"}],"detour":"DIRECT"}'

config rules 'BlockQUIC_host'
	option label 'BlockQUIC'
	option entry '{"type":"AND","payload":[{"type":"DST-PORT","factor":"443"},{"type":"NETWORK","factor":"udp"}],"detour":"REJECT"}'
	option enabled '0'

config rules 'STUN_host'
	option label 'STUN'
	option entry '{"type":"RULE-SET","payload":[{"type":"RULE-SET","factor":"rule_STUN"}],"detour":"group_stun"}'

config rules 'SpeedTest_host'
	option label 'SpeedTest'
	option entry '{"type":"RULE-SET","payload":[{"type":"RULE-SET","factor":"rule_SpeedTest"}],"detour":"group_check"}'

config rules 'Download_host'
	option label 'Download'
	option entry '{"type":"RULE-SET","payload":[{"type":"RULE-SET","factor":"rule_GameDownload"}],"detour":"group_download"}'

config rules 'Game_host'
	option label 'Game'
	option entry '{"type":"OR","payload":[{"type":"RULE-SET","factor":"rule_Blizzard"},{"type":"RULE-SET","factor":"rule_Epic"}],"detour":"group_game"}'

config rules 'Netflix_host'
	option label 'Netflix'
	option entry '{"type":"RULE-SET","payload":[{"type":"RULE-SET","factor":"rule_Netflix"}],"detour":"group_netflix"}'

config rules 'HK_host'
	option label 'HK'
	option entry '{"type":"OR","payload":[{"type":"DOMAIN-SUFFIX","factor":".hk"},{"type":"GEOIP","factor":"hk"}],"detour":"group_hk"}'

config rules 'JP_host'
	option label 'JP'
	option entry '{"type":"OR","payload":[{"type":"DOMAIN-SUFFIX","factor":".jp"},{"type":"GEOIP","factor":"jp"}],"detour":"group_jp"}'

config rules 'SG_host'
	option label 'SG'
	option entry '{"type":"OR","payload":[{"type":"DOMAIN-SUFFIX","factor":".sg"},{"type":"GEOIP","factor":"sg"}],"detour":"group_sg"}'

config rules 'TW_host'
	option label 'TW'
	option entry '{"type":"OR","payload":[{"type":"DOMAIN-SUFFIX","factor":".tw"},{"type":"GEOIP","factor":"tw"}],"detour":"group_tw"}'

config rules 'US_host'
	option label 'US'
	option entry '{"type":"OR","payload":[{"type":"DOMAIN-SUFFIX","factor":".us"},{"type":"GEOIP","factor":"us"}],"detour":"group_us"}'

config rules 'Proxy_host'
	option label 'Proxy'
	option entry '{"type":"GEOSITE","payload":[{"type":"GEOSITE","factor":"gfw"}],"detour":"group_proxy"}'

config rules 'Local_host'
	option label 'Local'
	option entry '{"type":"OR","payload":[{"type":"GEOIP","factor":"cn"},{"type":"GEOSITE","factor":"cn"}],"detour":"DIRECT"}'

config rules 'Final_host'
	option label 'Final'
	option entry '{"type":"MATCH","payload":[{"type":"MATCH"}],"detour":"DIRECT"}'

config provider 'sub_Airport'
	option label 'Airport'
	option type 'http'
	option url 'https://sub.airport.xyz/subscribes/V2Ray/client.php?token=M2rt7Jnt8cI7u1J2X8'
	option health_url 'https://cp.cloudflare.com'
	list exclude_filter '重置|到期|过期|剩余|套餐'
	list exclude_filter '海外用户|回国'
	option override_prefix '[Airport] '

config ruleset 'rule_ChinaDNS'
	option label 'ChinaDNS'
	option type 'inline'
	option behavior 'ipcidr'
	option payload '- "202.120.2.90/32"
- "2001:da8:8000:1:202:120:2:90/128"
- "202.120.2.100/32"
- "2001:da8:8000:1:202:120:2:100/128"
- "202.120.2.101/32"
- "2001:da8:8000:1:202:120:2:101/128"
- "202.141.162.123/32"
- "202.141.176.93/32"
- "202.38.93.153/32"
- "2001:da8:d800:931::153/128"
- "202.38.93.94/32"
- "2001:da8:d800:931::94/128"
- "202.112.20.131/32"
- "2001:da8:3000:2000::53/128"
- "223.6.6.6/32"
- "2400:3200:baba::1/128"
- "223.5.5.5/32"
- "2400:3200::1/128"
- "119.29.29.29/32"
- "2402:4e00::/128"
- "1.12.12.12/32"
- "120.53.53.53/32"
- "114.114.114.114/32"
- "114.114.115.115/32"'

config ruleset 'rule_STUN'
	option label 'STUN'
	option type 'inline'
	option behavior 'classical'
	option payload '- DST-PORT,3478
- DST-PORT,19302'

config ruleset 'rule_PrivateTracker'
	option label 'PrivateTracker'
	option type 'http'
	option format 'yaml'
	option behavior 'classical'
	option url 'https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/refs/heads/master/Clash/Providers/Ruleset/PrivateTracker.yaml'
	option proxy 'DIRECT'

config ruleset 'rule_SpeedTest'
	option label 'SpeedTest'
	option type 'http'
	option format 'yaml'
	option behavior 'classical'
	option url 'https://raw.githubusercontent.com/LM-Firefly/Rules/refs/heads/master/Clash-RuleSet-Classical/SpeedTest.yaml'
	option proxy 'group_proxy'

config ruleset 'rule_GameDownload'
	option label 'GameDownload'
	option type 'http'
	option format 'yaml'
	option behavior 'classical'
	option url 'https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/refs/heads/master/Clash/Providers/Ruleset/GameDownload.yaml'

config ruleset 'rule_Blizzard'
	option label 'Blizzard'
	option type 'http'
	option format 'yaml'
	option behavior 'classical'
	option url 'https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/refs/heads/master/Clash/Providers/Ruleset/Blizzard.yaml'

config ruleset 'rule_Epic'
	option label 'Epic'
	option type 'http'
	option format 'yaml'
	option behavior 'classical'
	option url 'https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/refs/heads/master/Clash/Providers/Ruleset/Epic.yaml'

config ruleset 'rule_Netflix'
	option label 'Netflix'
	option type 'http'
	option format 'yaml'
	option behavior 'classical'
	option url 'https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/refs/heads/master/Clash/Providers/Ruleset/Netflix.yaml'
	option proxy 'group_proxy'
