<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
  <meta name="viewport" content="width=1380" />
  <title>易有云文件管理</title>
  <script>
    (function () {
      var pathe_prefix = "<%=prefix%>"
      window.path_base = pathe_prefix
      window.ver       = "<%# PKG_VERSION %>"
    })();
  </script>
  <script type="module" crossorigin src="/luci-static/linkeasefile/index.js<%# ?v=PKG_VERSION %>"></script>
  <link rel="stylesheet" href="/luci-static/linkeasefile/style.css<%# ?v=PKG_VERSION %>">
</head>

<body>
  <div id="app"></div>
  
</body>

</html>