
config watchdog 'config'
	option sleeptime '60'
	option debuglevel '1'
	option up_timeout '2'
	option down_timeout '10'
	option timeout_retry_count '2'
	option thread_num '3'
	list login_control 'web_logged'
	list login_control 'ssh_logged'
	list login_control 'web_login_failed'
	list login_control 'ssh_login_failed'
	option login_max_num '3'
	option enable '1'
	option login_web_black '1'
	option login_ip_black_timeout '86400'

