
config instance
	option 'enabled' '0'

	# Bind address
	list 'address' '0.0.0.0:7088'
	list 'address' '[::]:7088'
	# For multicast receive
	option 'network' ''

	# syslog Severity level: 0=emerg - 7=debug
	#option loglevel '0'

	# Worker threads (0 = auto detect)
	#option 'threads' '0'
	# Bind threads to CPUs
	#option 'bind_to_cpu' '0'

	# Disconnect slow clients
	#option 'drop_slow_clients' '0'
	# Pre cache size
	#option 'precache_size' '4096'
	# Stream receive ring buffer size
	#option 'ring_buffer_size' '4096'
	# Multicast receive socket buffer size
	#option 'multicast_recv_buffer_size' '512'
	# Multicast receive timeout
	#option 'multicast_recv_timeout' '2'
	# Do IGMP/MLD leave+join every X seconds
	#option 'rejoin_time' '0'

