<?xml version="1.0" encoding="utf-8"?>
<!--
 Sizes in kb, time in seconds
-->
<!--
<skt> <rcvLoWatermark>XXXX</rcvLoWatermark> - DOES NOT WORK on Linux!
man socket(7):
...
The select(2) and poll(2) system calls currently do not respect the SO_RCVLOWAT
setting on Linux, and mark a socket readable when even a single byte of data is
available.
...
-->
<msd>
	<log>
		<!-- syslog Severity level: 0=emerg - 7=debug. -->
		<level>@logLevel@</level>
	</log>
	<threadPool>
		<threadsCountMax>@threadsCountMax@</threadsCountMax>
		<!-- 0 = auto -->
		<fBindToCPU>@fBindToCPU@</fBindToCPU>
		<!-- Bind threads to CPUs. -->
	</threadPool>
	<!-- HTTP server -->
	<HTTP>
		<bindList>
			@bindList@
		</bindList>
		<hostnameList>
			<!-- Host names for all bindings. -->
			<hostname>*</hostname>
		</hostnameList>
	</HTTP>
	<hubProfileList>
		<!-- Stream hub profiles templates. -->
		<hubProfile>
			<fDropSlowClients>@fDropSlowClients@</fDropSlowClients>
			<!-- Disconnect slow clients. -->
			<fSocketHalfClosed>no</fSocketHalfClosed>
			<!-- Enable shutdown(SHUT_RD) for clients. -->
			<fSocketTCPNoDelay>yes</fSocketTCPNoDelay>
			<!-- Enable TCP_NODELAY for clients. -->
			<fSocketTCPNoPush>yes</fSocketTCPNoPush>
			<!-- Enable TCP_NOPUSH / TCP_CORK for clients. -->
			<precache>@precache@</precache>
			<!-- Pre cache size. Can be overwritten by arg from user request. -->
			<ringBufSize>@ringBufSize@</ringBufSize>
			<!-- Stream receive ring buffer size. Must be multiple of sndBlockSize. -->
			<skt>
				<sndBuf>512</sndBuf>
				<!-- Max send block size, apply to clients sockets only, must be > sndBlockSize. -->
				<sndLoWatermark>64</sndLoWatermark>
				<!-- Send block size. Must be multiple of 4. -->
				<!-- <congestionControl>htcp</congestionControl> -->
				<!-- TCP_CONGESTION: this value replace/overwrite(!) all others cc settings: cc from http req args, http server settings, OS default -->
			</skt>
			<headersList>
				<!-- Custom HTTP headers (sended before stream). -->
				<header>Pragma: no-cache</header>
				<header>Content-Type: video/mpeg</header>
				<header>ContentFeatures.DLNA.ORG: DLNA.ORG_OP=01;DLNA.ORG_CI=0;DLNA.ORG_FLAGS=01700000000000000000000000000000</header>
				<header>TransferMode.DLNA.ORG: Streaming</header>
			</headersList>
		</hubProfile>
	</hubProfileList>
	<sourceProfileList>
		<!-- Stream source profiles templates. -->
		<sourceProfile>
			<skt>
				<rcvBuf>@rcvBuf@</rcvBuf>
				<!-- Multicast recv socket buf size. -->
				<rcvLoWatermark>48</rcvLoWatermark>
				<!-- Actual cli_snd_block_min if polling is off. -->
				<rcvTimeout>@rcvTimeout@</rcvTimeout>
				<!-- STATUS, Multicast recv timeout. -->
			</skt>
			<multicast>
				<!-- For: multicast-udp and multicast-udp-rtp. -->
				<ifName>@ifName@</ifName>
				<rejoinTime>@rejoinTime@</rejoinTime> <!-- Do IGMP/MLD leave+join every X seconds. -->
				<!-- For multicast receive. -->
			</multicast>
		</sourceProfile>
	</sourceProfileList>
</msd>
