config global
    option enabled '0'
    option anonymous '1'
    option webdav_port '8888'

config user
    option username 'admin'
    option password 'password'

config user
    option username 'jim'
    option password 'abcdef'

config share
    option path '/mnt'
    option name 'mnt'
    list rw 'admin'
    list proto 'samba'

config share
    option path '/root/share'
    option name 'public'
    list rw 'admin'
    list ro 'everyone'
    list proto 'samba'
    list proto 'webdav'

config share
    option path '/root/work'
    list rw 'admin'
    list rw 'tim'
    list ro 'users'
    list proto 'samba'

config share
    option path '/root/share'
    option name 'www'
    list ro 'everyone'
    list proto 'samba'
    list proto 'webdav'

