<script type="text/javascript">//<![CDATA[
XHR.poll(5, '<%=url("admin/services/kaiplus_status")%>', null, function(x, st) {
	var el = document.getElementById('kaiplus_status');
	if (st && el) {
		var status = st.running
			? '<br/><em style=\"color:green\"><%:The KaiPlus service is running.%></em>'
			: '<br/><em style=\"color:red\"><%:The KaiPlus service is not running.%></em>';
		if (st.proxy_prefix_enabled && st.linkeasefull_running) {
			status = status + '<br/><em><%:Access mode: LinkEase Desktop proxy.%></em>';
		}
		else if (st.external_port_enabled) {
			status = status + '<br/><em><%:Access mode: external port.%></em>';
		}
		else {
			status = status + '<br/><em><%:External port access is disabled.%></em>';
		}
		el.innerHTML = status;
		if (st.running) {
			el.innerHTML = el.innerHTML
				+ "<br/><br/><input class=\"btn cbi-button cbi-button-apply\" type=\"button\" value=\" <%:Click to open KaiPlus%> \" onclick=\"window.open('<%=url("admin/services/kaiplus/open")%>')\"/>";
		}
	}
});
//]]></script>

<fieldset class="cbi-section">
	<legend><%:Status%></legend>
	<p id="kaiplus_status">
		<em><%:Collecting data...%></em>
	</p>
</fieldset>
