config main 'default'
	option enabled '0'

config rule
        list host "baidu.com" #baidu.com and ALL *.baidu.com
        list host "www.qq.com" #www.qq.com and ALL *.www.qq.com
        option action "reset"
        option disabled '1'
        list ip '192.168.15.100'
	list ipv6 'fd57:538a:7ca5::/64'
        list mac 'aa:bb:cc:11:22:33'

config rule
        list host "google.com" #google.com and ALL *.google.com
        list host "v.qq.com"
        option action "drop"
        option disabled '1'
        list ip '192.168.15.200,192.168.15.250-192.168.15.254'

config rule
        list host "1.2.3.4" #HTTP ip access
        option action "reset"
        option disabled '1'
        option mac 'aa:bb:cc:11:22:33,aa:bb:cc:11:22:44,aa:bb:cc:11:22:55'

config rule
        list host "cn" #cn and ALL .cn domains
        option action 'record'
        option disabled "1"
