config natflow 'main'
	option hwnat '1'
	option hwnat_wed '0'
	option enabled '1'
	option debug '3'
	option delay_pkts '0'
	option skip_qos_to_slow_path '0'
	list ifname_filter ''

config globals 'globals'
	option redirect_ip '10.10.10.1'
	option no_flow_timeout '1800'

config auth
	option enabled '1'
	option szone '0'
	option type 'auto'
	option sipgrp '192.168.15.2-192.168.15.254'
	option ipwhite ''
	option macwhite ''

config zone
	option type 'lan_zone'
	list fw_zone 'lan'
	list ifname 'tun+'

config zone
	option type 'wan_zone'
	list fw_zone 'wan'
	list ifname 'ppp+'

config qos 'example'
	option user '192.168.15.0/24' #ip,iprange,ipcidr or ''
	option user_port ''
	option remote ''
	option remote_port '80,443'
	option proto 'tcp' # tcp or udp or ''
	option rx_rate '10Mbps'
	option tx_rate '5Mbps'
	option disabled '1'

config qos_simple "simple1"
	option user '192.168.15.0/24'
	option rx_rate '10Mbps'
	option tx_rate '5Mbps'
	option disabled '1'
