config natflow 'main'
	option hwnat '1'
	option hwnat_wed '0'
	option enabled '1'
	option debug '3'
	option delay_pkts '0'
	list ifname_filter ''

config globals 'globals'
	option redirect_ip '10.10.10.1'
	option no_flow_timeout '1800'

config auth
	option enabled '1'
	option szone '0'
	option type 'auto'
	option sipgrp '192.168.15.2-192.168.15.254'
	option ipwhite ''
	option macwhite ''

config zone
	option type 'lan_zone'
	list fw_zone 'lan'
	list ifname 'tun+'

config zone
	option type 'wan_zone'
	list fw_zone 'wan'
	list ifname 'ppp+'
