config glorytun-udp 'vpn'
	option enable '0'
	option host '127.0.0.1'
	option port '65001'
	option dev 'tun0'
	option key ''
	option chacha '1'
	option localip '10.255.254.2'
	option remoteip '10.255.254.1'
	option mode 'to'
	option kxtimeout '7d'
	option timetolerance '10m'
	option keepalive '25s'
	option rateauto '0'