config natmap
	option enable '0'
	option family ''
	option mode 'general'
	option nat_name ''
	option udp_mode '1'
	option interface ''
	option interval ''
	option stun_server 'stunserver.stunprotocol.org'
	option http_server 'example.com'
	option port '8080'
	option forward_target ''
	option forward_port ''
	option notify_script ''
	option im_notify_enable '0'
	option forward_use_natmap '0'
	option im_notify_channel 'telegram_bot'
	option im_notify_channel_telegram_bot_chat_id 'chat_id'
	option im_notify_channel_telegram_bot_token 'token'
	option im_notify_channel_pushplus_token 'token'
	option emby_url ''
	option emby_api_key ''
	option emby_use_https '0'
	option emby_update_host_with_ip '0'
	option qb_web_ui_url ''
	option qb_username ''
	option qb_password ''
	option qb_ipv6_address '::/-64'
	option qb_allow_ipv6 '1'
	option tr_rpc_url ''
	option tr_username ''
	option tr_password ''
	option tr_ipv6_address '::/-64'
	option tr_allow_ipv6 '1'
	option cloudflare_email ''
	option cloudflare_api_key ''
	option cloudflare_zone_id ''
	option cloudflare_rule_name ''
	option proxy ''
	option proxy_port_content_url
	option proxy_port_gist_id
	option proxy_port_gist_filename
	option proxy_port_github_token
	




