config floatip 'main'
# 启动时，enabled != 1 ，或者原 lan 口配置网段不包括 set_ip，清除自身的 set_ip，然后退出进程。
    option enabled '0'
# fallback 表示后备
    option role 'fallback'
#    option role 'main'
# 对于 fallback 节点，检查到 check_ip 都不在线超过一定时间（例如30秒），就设置自身的 set_ip，然后检查 check_ip 中任一 IP 在线就清除自身的 set_ip，重复上述流程。
# 对于 main 节点，启动后不断检查 set_ip 和 check_url，直到 set_ip 不在线且 check_url 没有失败，就设置自身的 set_ip 并允许 LAN 口 ping，否则清除自身的 set_ip 并禁止 LAN 口 ping，重复上述流程。
# set_ip 可以不提供前缀长度，将会按 lan 口配置的网段的长度
    option set_ip '192.168.100.3/24'
#    option set_ip '192.168.100.3'
# check_ip 仅 fallback 有效，并且检查时只检查跟 set_ip 同一网段的
    list check_ip '192.168.100.2'
#    list check_ip '192.168.100.4'
# check_url 仅 main 有效
#    list check_url 'https://www.google.com/generate_204'
#    option check_url_timeout '5'
