<script <script type="text/javascript">//<![CDATA[
XHR.poll(5, '<%=url("admin/services/kai_status")%>', null,function(x, st){
	var el = document.getElementById('kai_status');
	if (st && el){
		if(!st.running){
			el.innerHTML = '<br/><em style=\"color:red\"><%:The KAI service is not running.%></em>';
		}
		if (st.running){
			el.innerHTML = '<br/><em style=\"color:green\"><%:The KAI service is running.%></em>'
				+ "<br/><br/><input class=\"btn cbi-button cbi-button-apply\" type=\"button\" value=\" <%:Click to open KAI%> \" onclick=\"window.open('http://" + window.location.hostname + ":" + st.port + "/')\"/>";
		}
	}
});
//]]></script>

<fieldset class="cbi-section">
	<legend><%:Status%></legend>
	<p id="kai_status">
		<em><%:Collecting data...%></em>
	</p>
</fieldset>

