
        .chat_window {
            display: flex;
            width: 100%;
            max-width: 1920px;
            height: 888px;
            border-radius: 8px;
            background-color: #fff;
            overflow: auto;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
        }

        .overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba(0, 0, 0, .3);
            z-index: 90;
            opacity: 0;
            visibility: hidden;
            cursor: pointer;
            transition: all 120ms ease-in-out;
        }
 


        .full_window {
            max-width: none;
            max-height: none;
        }

        .chatnav {
            width: 250px;
            border-right: 1px solid #e0e0e0;;
            background-color: #f6f6f6;
            top: 0;
            z-index: 99;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            margin-left: -250px;
            transition: left 120ms ease-in-out;
        }

        .mainContent {
            height: 100%;
            position: relative;
	    width: 100%;
            display: flex;
            flex-direction: column;
            flex: 1;
        }

            .show-nav .chatnav {
                margin-left: 0;
                box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 10px -5px, rgba(0, 0, 0, 0.14) 0px 16px 24px 2px, rgba(0, 0, 0, 0.12) 0px 6px 30px 5px;
            }

            .show-nav .overlay {
                opacity: 1;
                visibility: visible;
            }
        .top_menu {
            background-color: #f6f6f6;
            width: 100%;
            height: 50px;
            padding: 5px 0;
        }

        .top_menu .toggler {
            margin-left: 10px;
            width: 40px;
            height: 40px;
            float: left;
            padding: 5px 7px;
            border-radius: 4px;
            cursor: pointer;
        }

        .top_menu .toggler:hover {
            background: #e0e0e0;;
        }

        .top_menu .toggler .button {
            width: 26px;
            height: 4px;
            border-radius: 4px;
            position: absolute;
            pointer-events: none;
        }

        .top_menu .toggler .button.close {
            margin-top: 3px;
            background-color: #000;
        }

        .top_menu .toggler .button.minimize {
            margin-top: 13px;
            background-color: #000;
        }

        .top_menu .toggler .button.maximize {
            margin-top: 23px;
            background-color: #000;
        }

        .top_menu .title {
            color: #909090; 
            font-size: 20px;
            height: 40px;
            line-height: 40px;
            position: relative;
            pointer-events: none;
        }

        .title>span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .messages {
            position: relative;
            flex: 1;
            overflow-x: hidden;
            overflow-y: auto;
            font-size: 16px;
            color: #24292f; 
            width: 100%;
            text-align: center;
        }

        .messages::-webkit-scrollbar,
        #chatlog .markdown-body>pre::-webkit-scrollbar,
        #chatlog .markdown-body>pre>code::-webkit-scrollbar,
        #setDialog::-webkit-scrollbar,
        .allList::-webkit-scrollbar,
        .sysDetail::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }

        .messages::-webkit-scrollbar-track,
        #chatlog .markdown-body>pre::-webkit-scrollbar-track,
        #chatlog .markdown-body>pre>code::-webkit-scrollbar-track,
        #setDialog::-webkit-scrollbar-track,
        .allList::-webkit-scrollbar-track,
        .sysDetail::-webkit-scrollbar-track {
            background-clip: padding-box;
            background: transparent;
            border: none;
        }

        .messages::-webkit-scrollbar-corner,
        #chatlog .markdown-body>pre::-webkit-scrollbar-corner,
        #chatlog .markdown-body>pre>code::-webkit-scrollbar-corner,
        #setDialog::-webkit-scrollbar-corner,
        .allList::-webkit-scrollbar-corner,
        .sysDetail::-webkit-scrollbar-corner {
            background-color: transparent;
        }

        .messages::-webkit-scrollbar-thumb,
        #chatlog .markdown-body>pre::-webkit-scrollbar-thumb,
        #chatlog .markdown-body>pre>code::-webkit-scrollbar-thumb,
        #setDialog::-webkit-scrollbar-thumb,
        .allList::-webkit-scrollbar-thumb,
        .sysDetail::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.1);
            background-clip: padding-box;
            border: solid transparent;
            border-radius: 10px;
        }

        .messages::-webkit-scrollbar-thumb:hover,
        #chatlog .markdown-body>pre::-webkit-scrollbar-thumb:hover,
        #chatlog .markdown-body>pre>code::-webkit-scrollbar-thumb:hover,
        #setDialog::-webkit-scrollbar-thumb:hover,
        .allList::-webkit-scrollbar-thumb:hover,
        .sysDetail::-webkit-scrollbar-thumb:hover {
            background-color: rgba(0, 0, 0, 0.4);
        }


        #chatlog {
            word-wrap: break-word;
            text-align: start;
        }

        #chatlog>div {
            padding: 18px 40px 18px 54px;
        }

        .chatAvatar {
            position: absolute;
            width: 30px;
            height: 30px;
            border-radius: 2px;
        }

        .request>.chatAvatar {
            top: 14px;
            right: 53px;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .response>.chatAvatar {
            background: #10a37f;

            top: 18px;

            left: 13px;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .response .gpt3Avatar {
            top: 18px;
            left: 13px;
            background: #19c37d;
        }

        .response .gpt4Avatar {
            top: 18px;
            left: 13px;
            background: #ab68ff;
        }
	
        .chatAvatar>img {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 2px;
        }

        .chatAvatar>svg {
            display: block;
            margin-top: 4px;
            margin-left: 4px;
        }

        #chatlog .request {
            position: relative;
            display: flex;
            justify-content: center;
        }

        .request>.requestBody {
            display: flex;
            justify-content: flex-end;
            margin: 18px 45px 18px 20px;
	    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
	    font-size: 15px;
        }
        .requestBody {
            white-space: pre-wrap;
            margin: 18px;
            flex: 1;
        }

        #chatlog .response {
            background: #f7f7f8; 
            position: relative;
        }

        .response .markdown-body {
            margin: 18px 65px 18px 0px;
            flex: 1;
	    font-size: 15px;
            background: #f7f7f8!important;
        }

        #chatlog .markdown-body>pre {
            overflow-x: auto;
            padding: 10px;
            position: relative;
            white-space: pre-wrap;
            background: #f0f0f0;
        }

        #chatlog .markdown-body>pre>code {
            overflow-x: auto;
            white-space: pre-wrap;
            display: block;
        }

        .m-mdic-copy-wrapper {
            position: absolute;
            top: 5px;
            right: 16px;
            -webkit-user-select: none;
            user-select: none;
        }

        .m-mdic-copy-wrapper span.u-mdic-copy-code_lang {
            position: absolute;
            top: 3px;
            right: calc(100% + 4px);
            font-family: system-ui;
            font-size: 12px;
            line-height: 18px;
            color: #bbb;
        }

        .m-mdic-copy-wrapper div.u-mdic-copy-notify {
            position: absolute;
            top: 0;
            right: 0;
            padding: 3px 6px;
            border: 0;
            border-radius: 3px;
            background: none;
            font-family: system-ui;
            font-size: 12px;
            line-height: 18px;
            color: #555;
            outline: none;
            right: 100%;
            padding-right: 4px;
        }

        .m-mdic-copy-wrapper button.u-mdic-copy-btn {
            position: relative;
            top: 0;
            right: 0;
            padding: 3px 6px;
            border: 0;
            border-radius: 3px;
            background: none;
            font-family: system-ui;
            font-size: 12px;
            line-height: 18px;
            color: #bbb;
            outline: none;
            cursor: pointer;
            transition: color 0.2s;
        }

        .m-mdic-copy-wrapper button.u-mdic-copy-btn:hover {
            color: #555;
        }

        #stopChat {
            display: none;
            margin: 0 auto;
            margin-top: 3px;
            width: 80px;
            height: 32px;
            text-align: center;
            line-height: 32px;
            color: white;
            background: #f8b26a;
            cursor: pointer;
            border-radius: 3px;
            position: sticky;
            bottom: 2px;
            justify-content: center;
            align-items: center;
        }

        #stopChat>svg {
            margin-right: 8px;
        }

        #stopChat:hover {
            background: #f0aa60;
        }

        .bottom_wrapper {
            position: relative;
            width: 100%;
            padding: 10px 10px;
	    max-width: 91%;
	    margin: 0 auto;
        }

        .bottom_wrapper .message_input_wrapper {
            border: none;
            width: calc(100% - 137px);
            position: relative;
            text-align: left;
        }

        .bottom_wrapper .message_input_wrapper .message_input_text {
border-radius: 4px;
    border: none;
    outline: none;
    resize: none;
    background: #f6f6f6;
    color: #24292f;
    height: 47px;
    font-size: 16px;
    max-height: 200px;
    padding: 13px 0 13px 13px;
    width: 100%!important;
    display: block;
    transition: background 0.3s;

        }

        .bottom_wrapper .message_input_wrapper .message_input_text:focus {
            background: #f0f0f0;
        }

        .bottom_wrapper .message_input_wrapper .message_input_text::-webkit-scrollbar {
            display: none;
            width: 0;
            height: 0;
        }

        #sendbutton {
    width: 70px;
    height: 47px;
    font-size: 18px;
    font-weight: bold;
    background-color: #8ed135;
    padding: 0.5rem 0.5rem;
    transition: all 0.2s linear;
    position: absolute;
    right: 65px;
    bottom: 10px;
    cursor: not-allowed;
        }

        .activeSendBtn {
            background-color: #99c959 !important;
            cursor: pointer !important;
        }

        .activeSendBtn:hover {
            background-color: #90c050 !important;
        }

        .clearConv {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 47px;
    padding: 0.5rem 0.5rem;
    height: 47px;
        }

        .clearConv>svg {
            margin: 0 auto;
	    top: 50%;
	    left: 50%;
        }


        .clearConv svg:first-child {
            display: none;
        }

        .clearConv svg:nth-child(2) {
            display: block;
        }

        .closeConv {
            background: #e0e0e0;;
        }

        .closeConv:hover {
            background: #e8e8e8;
        }

        .closeConv svg:first-child {
            display: block;
        }

        .closeConv svg:nth-child(2) {
            display: none;
        }

        .loaded>span {
            display: inline-block;
        }

        .loaded>svg {
            display: none;
        }

        .loading {
            background: rgba(0,0,0,0) !important;
        }

        .loading>span {
            display: none;
        }

        .loading>svg {
            display: block;
        }

        .switch-slide {
            display: inline-block;
            vertical-align: middle;
        }

        .switch-slide-label {
            display: block;
            width: 38px;
            height: 18px;
            background: #909090; 
            border-radius: 30px;
            cursor: pointer;
            position: relative;
            -webkit-transition: 0.3s ease;
            transition: 0.3s ease;
        }

        .switch-slide-label:after {
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            border-radius: 100%;
            background: #fff;
            box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
            position: absolute;
            left: 1px;
            top: 1px;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-transition: 0.3s ease;
            transition: 0.3s ease;
        }

        .switch-slide input:checked+label {
            background: #99c959;
            transition: 0.3s ease;
        }

        .switch-slide input:checked+label:after {
            left: 21px;
        }

        .settings {
            margin-right: 10px;
            display: flex;
            position: absolute;
            right: 0;
            top: 5px;
        }

        .setBtn {
            margin-left: 2px;
            cursor: pointer;
            padding: 5px;
            border: none;
            background-color: transparent;
            border-radius: 4px;
        }

        .setBtn>svg {
            display: block;
            color: #909090; 
        }

        .setBtn:hover {
            background: #e0e0e0;;
        }

        #setting {
            right: 15px;
        }



        .showSetting {
            background: #c0c0c0 !important;
        }

        #setDialog {
            color: #404040;
            position: absolute;
            z-index: 2;
            background: #f6f6f6;
            width: 320px;
            right: 6px;
            top: 46px;
            overflow-y: auto;
            max-height: calc(100% - 55px);
            -webkit-user-select: none;
            user-select: none;
            border-radius: 5px;
            padding: 8px 12px 8px 12px;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
        }

        #setDialog input {
            width: 100%;
        }

        #setDialog .inlineTitle {
            display: inline-block;
            width: 80px;
            line-height: 16px;
            vertical-align: middle;
        }

        #convOption,
        #speechOption,
        #speechDetail,
        #recOption {
            margin-bottom: 6px;
        }

        #convOption>div,
        #speechOption>div,
        #speechDetail>div,
        #recOption div {
            margin-top: 10px;
        }

        #voiceRecSetting select,
        #speechDetail select {
            background: #fff;
            color: #24292f; 
        }

        .areaTextClass {
            width: 100%;
	    height: 150px;
            white-space: normal;
            resize: none;
            padding: 6px;
        }

        input[type="range"] {
            -webkit-appearance: none;
            appearance: none;
            display: block;
            margin: 4px 0 3px 0;
            height: 8px;
            background: #909090; 
            border-radius: 5px;
            background-image: linear-gradient(#99c959, #99c959);
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }

        input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            background: #99c959;
            cursor: ew-resize;
        }

        input[type=range]::-webkit-slider-runnable-track {
            -webkit-appearance: none;
            box-shadow: none;
            border: none;
            background: transparent;
        }

        .justSetLine {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .justSetBtn {
            height: 32px;
            border-radius: 3px;
            line-height: 32px;
            background: #eaeaea;
            text-align: center;
            padding: 0px 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        .justSetBtn:hover {
            background-color: #d0d0d0;
        }

        .justSetBtn>svg {
            margin-right: 3px;
        }

        .readyTestVoice>div:not(:first-child) {
            display: none;
        }

        .pauseTestVoice>div:nth-child(1),
        .pauseTestVoice>div:nth-child(3) {
            display: none;
        }

        .resumeTestVoice>div:nth-child(1),
        .resumeTestVoice>div:nth-child(2) {
            display: none;
        }

        .presetSelect>div {
            display: inline-block;
        }

        .presetSelect select {
            outline: none;
            border-radius: 3px;
            width: 120px;
            border-color: rgba(0, 0, 0, .3);
            background: #fff;
            color: #24292f; 
        }

        .selectDef {
            display: flex;
            justify-content: space-between;
            font-size: 13px;
            color: #909090; 
        }

        #preSetSpeech {
            width: 100%;
            outline: none;
            height: 30px;
	    line-height: 30px;
            font-size: 14px;
            margin-top: 5px;
            border-radius: 3px;
            border-color: rgba(0, 0, 0, .3);
        }

        .mdOption {
            position: absolute;
            right: 0px;
            top: 0;
            width: 50px;
            height: 100%;
            pointer-events: none;
        }

        .mdOption>div {
            pointer-events: auto;
            cursor: pointer;
        }

        .mdOption svg * {
            pointer-events: none;
        }

        .refreshReq svg:not(:first-child) {
            display: none;
        }

        .halfRefReq svg:not(:nth-child(2)) {
            display: none;
        }

        .optionItems {
            position: absolute;
            bottom: -5px;
            display: flex;
            justify-content: space-between;

            visibility: visible;
            z-index: 1;
            color: #808080;
        }

        .optionItems:hover {
            visibility: visible;
        }

        .request:hover .optionItems,
        .request:hover .voiceCls,
        .response:hover .optionItems,
        .response:hover .voiceCls {
            visibility: visible;
        }

        .optionItem {
            border-radius: 10px;
            height: 24px;
            width: 32px;
            border: 1px solid #e0e0e0;;
            background-color: #f7f7f8; ;
            display: flex !important;
            justify-content: center;
            align-items: center;
        }

        .optionItem * {
            pointer-events: none;
        }

        .optionItem:hover {
            background: #e0e0e0;;
        }

        .voiceCls {
            position: relative;
            height: 100%;
            visibility: visible;
            display: flex;
            align-items: center;
        }

        .voiceCls>svg {
            color: #c0c0c0;
            display: block;
            margin-left: 5px;
            position: relative;
            pointer-events: none;
        }

        .voiceCls:hover>svg {
            color: #808080;
        }

        .showVoiceCls,
        .showVoiceCls .markdown-body {
            background: #e0e0e0 !important;
        }

        .showVoiceCls .voiceCls {
            visibility: visible !important;
        }

        .showEditReq {
            position: sticky !important;
            top: 0;
            bottom: 0;
            z-index: 1;
        }

        .showEditReq,
        .showEditReq .markdown-body {
            background: #e0e0e0 !important;
        }

        .readyVoice svg:not(:first-child) {
            display: none;
        }

        .pauseVoice svg:not(:nth-child(2)) {
            display: none;
        }

        .resumeVoice svg:not(:nth-child(3)) {
            display: none;
        }

        #voiceTypes>span {
            border-radius: 3px;
            margin-left: 4px;
            cursor: pointer;
            background: #eaeaea;
            padding: 1px 5px;
        }

        #voiceTypes>span:hover {
            background-color: #d0d0d0;
        }

        .selVoiceType {
            background: #d0d0d0 !important;
        }

        .navHeader {
            width: 100%;
            padding: 5px 10px;
            display: flex;
            justify-content: space-between;
        }


        #newChat {
            text-align: center;
            width: 80%;
            height: 40px;
            border-radius: 3px;
            background: #e8e8e8;
            color: #404040;
            display: flex;
            align-items: center;
            justify-content: center;
            -webkit-user-select: none;
            user-select: none;
            cursor: pointer;
            flex: 1;
        }

        .navHeader>div:hover {
            background: #e0e0e0 !important;
        }

        #newChat>svg {
            margin-right: 2px;
        }

        #newFolder {
            height: 40px;
            width: 40px;
            margin-left: 10px;
            border-radius: 3px;
            color: #404040;
            cursor: pointer;
            position: relative;
            background: #e8e8e8;
            -webkit-user-select: none;
            user-select: none;
        }

        #newFolder>svg {
            display: block;
            margin: 8px auto;
        }

        .extraChat {
            padding: 2px 10px 6px 10px;
            position: relative;
        }

        #searchChat {
            width: 100%;
            height: 36px;
            padding-left: 10px;
            padding-right: 16px;
            font-size: 16px;
            outline: none;
            border: none;
            color: #24292f; 
            background: #e8e8e8;
            border-radius: 3px;
        }

        #searchChat:focus {
            background: #e0e0e0;
        }

        #searchChat:placeholder-shown+#clearSearch {
            display: none;
        }

        #clearSearch {
            position: absolute;
            right: 12px;
            top: 8px;
            cursor: pointer;
            color: #404040;
        }

        #clearSearch:hover {
            color: #000;
        }

        #clearSearch>svg {
            display: block;
        }

        .divider {
            width: 100%;
            border-top: 1px solid #e0e0e0;
            margin: 4px 0;
        }

        .navFooter {
            padding-bottom: 8px;
	    background: #e8e8e8;
        }

        .navFunc {
            padding-top: 5px;
            display: flex;
            justify-content: space-evenly;
        }

        .navFunc svg {
            display: block;
        }

        .navFunc>div,
        .navFunc>label {
            border-radius: 20px;
            text-align: center;
            padding: 8px 8px;
            color: #404040;
            font-size: 14px;
            cursor: pointer;
        }

        .navFunc>div:hover,
        .navFunc>label:hover {
            background: #e0e0e0;
        }

        .links {
            text-align: center;
        }

        .links a {
            color: #404040;
            text-decoration: none;
        }

        .links a:hover {
            color: #24292f !important;
        }

        .links a:visited {
            color: #404040;
        }

        .allList {
            width: 100%;
            flex: 1;
            overflow-y: auto;
        }

        #chatList {
            min-height: 50px;
        }

        .dragingLi {
            filter: brightness(90%);
        }

        .dragingChat {
            background: #e8e8e8;
        }

        .expandFolder>.headLi>svg {
            transform: rotate(90deg);
        }

        .expandFolder>.chatsInFolder {
            display: block;
        }

        .chatsInFolder {
            display: none;
            margin-left: 22px;
            padding-left: 2px;
            border-left: 1px solid #909090; ;
        }

        .headLi,
        .chatLi {
            cursor: pointer;
            width: 100%;
            height: 50px;
            color: #909090; ;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
        }

        .headLi *,
        .chatLi * {
            pointer-events: none;
        }

        .headLi>svg,
        .chatLi>svg {
            margin-left: 10px;
            color: #404040;
            pointer-events: none;
        }

        .folderOption svg,
        .chatOption svg {
            pointer-events: auto;
        }

        .headLi svg *,
        .chatLi svg * {
            pointer-events: none;
        }

        .headLi .folderInfo,
        .chatLi .chatInfo {
            position: absolute;
            left: 45px;
            height: 40px;
            max-width: calc(100% - 100px);
        }

        .folderInfo *,
        .chatInfo * {
            -webkit-user-select: none;
            user-select: none;
        }

        .chatInfo span {
            background: #f8b26a;
        }

        .headLi .folderName,
        .chatLi .chatName {
            color: #404040;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            line-height: 20px;
            height: 20px;
        }

        .headLi .folderNum,
        .chatLi .chatPre {
            color: #404040;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-size: 12px;
            line-height: 20px;
            height: 20px;
        }

        .headLi .folderOption,
        .chatLi .chatOption {
            visibility: hidden;
            display: flex;
            color: #777;
            margin-right: 5px;
        }

        .folderLi:hover {
            background: #eaeaea;
        }

        .chatLi:hover {
            background: #e0e0e0;
        }

        .headLi:hover .folderOption,
        .chatLi:hover .chatOption {
            visibility: visible !important;
        }

        .activeFolder,
        .activeChatLi {
            background: #d0d0d0  !important;
        }

        .activeChatLi .chatOption {
            visibility: visible !important;
        }

        .chatOption>svg:hover {
            color: #444;
        }

        #activeChatEdit {
            position: absolute;
            left: 42px;
            font-size: 16px;
            border-radius: 2px;
            color: #24292f; 
            background: #fff;
            outline: none;
            border: none;
            pointer-events: auto;
            height: 24px;
            line-height: 24px;
            width: calc(100% - 75px);
            padding: 20px 3px;
            z-index: 1;
        }

        #loadMask {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 100;
            background-color: #edeff2;
        }

        #loadMask>div {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        #loadMask svg {
            width: 160px;
            height: 80px;
        }

        #loadMask>div>div {
            font-size: 40px;
            color: #909090; ;
        }

        #voiceRec {
            position: absolute;
            right: 0;
            top: 0;
            width: 47px;
            height: 100%;
        }

        .message_if_voice {
            padding-right: 47px !important;
        }

        #voiceRecIcon {
            width: 100%;
            height: 100%;
            text-align: center;
            cursor: pointer;
            position: relative;
        }

        #voiceRecIcon:hover>svg {
            color: #808080;
        }

        #voiceRecIcon>svg {
            width: 38px;
            height: 38px;
            color: #b0b0b0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        #voiceRecIcon>svg .animVoice {
            display: none;
        }

        .voiceRecing>svg {
            color: #99c959 !important;
        }

        .voiceRecing .animVoice {
            display: inline !important;
            transform-origin: 0 64%;
            animation-duration: 1.5s;
            animation-name: scaleVoice;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
        }

        .voiceLong .animVoice {
            display: inline !important;
            transform-origin: 0 64%;
            animation-duration: 0.3s;
            animation-name: longVoice;
            animation-timing-function: ease-in-out;
            animation-iteration-count: 1;
        }

        @keyframes longVoice {
            0% {
                transform: scaleY(0);
            }

            100% {
                transform: scaleY(1);
            }
        }

        @keyframes scaleVoice {
            0% {
                transform: scaleY(0.28);
            }

            20% {
                transform: scaleY(0.60);
            }

            28% {
                transform: scaleY(0.28);
            }

            36% {
                transform: scaleY(0.45);
            }

            44% {
                transform: scaleY(0.28);
            }

            52% {
                transform: scaleY(0.45);
            }

            62% {
                transform: scaleY(0.80);
            }

            72% {
                transform: scaleY(0.80);
            }

            90% {
                transform: scaleY(0.28);
            }

            100% {
                transform: scaleY(0.28);
            }
        }

        #voiceRecSetting {
            display: none;
            position: absolute;
            top: -70px;
            left: -26px;
            z-index: 1;
            padding: 4px 4px;
            -webkit-user-select: none;
            user-select: none;
            border-radius: 3px;
            background-color: #f6f6f6;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
        }

        #voiceRecSetting select {
            width: 102px;
            outline: none;
            height: 28px;
            border-radius: 3px;
            border-color: rgba(0, 0, 0, .3);
        }

        .presetModelCls label {
            margin-right: 8px;
        }

        .presetModelCls select {
            height: 30px;
            line-height: 30px;
            margin-top: 2px;
            font-size: 15px;
        }

        .setSwitch {
            display: flex;

        }

        .setSwitch>div {
            border-radius: 3px;
            width: calc(100% / 3);
            height: 32px;
            line-height: 32px;
            text-align: center;
            cursor: pointer;
        }

        .setSwitch>div:hover {
            background-color: #e0e0e0;
        }

        .activeSwitch {
            background-color: #d0d0d0!important;
        }

        #checkVoiceLoad {
            height: 32px;
            border-radius: 3px;
            line-height: 32px;
            background: #d0d0d0;
            text-align: center;
            display: flex;
            justify-content: center;
            cursor: pointer;
        }

        #checkVoiceLoad:hover {
            background: #c0c0c0;
        }

        .voiceChecking {
            background-color: #c0c0c0 !important;
        }

        .voiceChecking>svg {
            display: inline !important;
        }

        #checkVoiceLoad>svg {
            display: none;
            margin-right: 8px;
            height: 32px;
            width: 64px;
        }

        #preSetSystem {
            height: 30px;
            line-height: 30px;
        }

        #sysDialog {
            display: none;
            position: fixed;
            z-index: 200;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            background: rgba(0, 0, 0, .4);
        }

        #sysContent {
            position: relative;
            background: #f5f5f5f5;
            color: #404040;
            cursor: auto;
            max-height: 100%;
            max-width: 400px;
            display: flex;
            flex-direction: column;
            border-radius: 4px;
            padding: 12px 20px 16px 20px;
        }

        .sysTitle {
            font-size: 20px;
            font-weight: bold;
        }

        .sysDetail {
            overflow-y: auto;
            flex: 1;
            margin-top: 4px;
        }

        #closeSet {
            position: absolute;
            right: 0px;
            top: 0px;
            cursor: pointer;
            padding: 10px 14px;
        }

        #closeSet:hover {
            color: #000;
        }

        .setContent {
            margin-top: 8px;
        }

        .setTitle {
            margin-bottom: 6px;
            font-weight: bold;
        }


        .dataDetail {
            display: flex;
        }

        .dataDetail svg {
            margin-right: 4px;
        }

        .dataDetail>div,
        .dataDetail>label {
            border-radius: 3px;
            text-align: center;
            padding: 6px 8px;
            margin-right: 12px;
            color: #404040;
            font-size: 15px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .dataDetail>div:hover,
        .dataDetail>label:hover {
            background: #e8e8e8;
        }

        .avatarDetail {
            display: flex;
            margin-top: 2px;
        }

        .avatarDetail img {
            border-radius: 2px;
            width: 32px;
            height: 32px;
            flex-shrink: 0;
            margin-right: 10px;
            margin-top: 2px;
        }

        .inputDetail input {
            outline: none;
            border-radius: 3px;
            padding-left: 8px;
            font-size: 15px;
            width: 100%;
            height: 34px;
            border: 1px solid rgba(0, 0, 0, .3);
            background: #fff;
            color: #24292f; 
        }

        .apiDetail {
            display: flex;
        }

        .apiDetail input {
            flex: 1;
        }

        .apiDetail>div {
            background: #d0d0d0;
            border-radius: 3px;
            width: 108px;
            text-align: center;
            cursor: pointer;
            margin-top: 2px;
            height: 34px;
            line-height: 34px;
            font-size: 15px;
        }

        .apiDetail>div:hover {
            background: #e0e0e0;
        }

        .themeDetail {
            display: flex;
            width: 180px;
            justify-content: space-between;
            pointer-events: none;
        }

        .themeDetail svg {
            display: block;
        }

        .themeDetail>div {
            pointer-events: auto;
            border-radius: 20px;
            text-align: center;
            padding: 8px 8px;
            color: #404040;
            font-size: 14px;
            cursor: pointer;
        }

        .themeDetail>div * {
            pointer-events: none;
        }

        .themeDetail>div:hover {
            background: #e8e8e8;
        }

        .darkTheme>div:first-child {
            background: #d0d0d0;
        }

        .lightTheme>div:nth-child(2) {
            background: #d0d0d0;
        }

        .autoTheme>div:nth-child(3) {
            background: #d0d0d0;
        }

        #customAutoSet input {
            width: 100px;
            height: 30px;
            line-height: 30px;
            font-size: 15px;
            outline: none;
            border: 1px solid rgba(0, 0, 0, .3);
            text-align: center;
            border-radius: 3px;
            background: #fff;
            color: #24292f; 
        }

        #customAutoSet label {
            margin-right: 8px;
        }

        .progressBar {
            position: relative;
            width: 100%;
            height: 12px;
            border-radius: 6px;
            background: #e0e0e0;
            overflow: hidden;
        }

        .expiredBar {
            background: #e15b64;
        }

        .nowProgress {
            position: absolute;
            left: 0;
            top: 0;
            height: 12px;
            min-width: 1px;
            border-radius: 6px;
            background: #99c959;
        }

        .progressDetail {
            display: flex;
            justify-content: space-between;
            font-size: 15px;
        }

        .cursorCls {
            background: var(--chat-text-color);
            width: 4px;
            animation: 1s cursor-blinker infinite step-start;
        }

        @keyframes cursor-blinker {
            0% {
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }	
	