<script type="text/javascript">//<![CDATA[
	XHR.poll(5, '<%=url("admin/services/linkeasefull_status")%>', null,
		function(x, st)
		{
			var tb = document.getElementById('linkeasefull_status');
			if (st && tb)
			{
				var lanHost = st.lan_ip || window.location.hostname;
				var fullUrl = st.proxy_prefix_enabled
					? window.location.protocol + "//" + window.location.host + "/apps/"
					: "http://" + lanHost + ":" + (st.full_port || 19290) + "/apps/";
				var legacyUrl = "http://" + window.location.hostname + ":" + (st.legacy_port || 8897) + "/";
				var overallStatus = st.conflict
					? '<br/><em style=\"color:red\"><%:LinkEase is enabled. Please disable LinkEase before starting LinkEase Full.%></em>'
					: st.running
					? '<br/><em style=\"color:green\"><%:The LinkEase Full service is running.%></em>'
					: '<br/><em style=\"color:red\"><%:The LinkEase Full service is not running.%></em>';
				tb.innerHTML = overallStatus;

				if (!st.conflict && st.running)
				{
					tb.innerHTML = tb.innerHTML
						+ "<br/><br/><input class=\"btn cbi-button cbi-button-apply\" type=\"button\" value=\" <%:Open Full Entry%> \" onclick=\"window.open('" + fullUrl + "')\"/>"
						+ " <input class=\"btn cbi-button cbi-button-apply\" type=\"button\" value=\" <%:Open Standard Entry%> \" onclick=\"window.open('" + legacyUrl + "')\"/>";
				}
			}
		}
	);
//]]></script>

<fieldset class="cbi-section">
	<legend><%:LinkEase Full Status%></legend>
	<p id="linkeasefull_status">
		<em><%:Collecting data...%></em>
	</p>
</fieldset>
