<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 Copyright 2012 David Menting <david@nut-bolt.nl>
 Copyright 2020 Michael BD7MQB <bd7mqb@qq.com>
 Licensed to the public under the Apache License 2.0.
-%>

<% local ver = require "luci.version" %>

   <footer>
    <a href="https://github.com/lazywalker/mmdvm-openwrt">Powered by OSTAR</a>, BD7MQB/ <%= ver.distversion %>
    <ul class="breadcrumb pull-right" id="modemenu" style="display:none"></ul>
   </footer>
  </div>
  <script type="text/javascript">L.require('menu-bootstrap-mmdvm')</script>
 </body>
</html>

