
#main {
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
	font-family: PingFang SC, helvetica neue, hiragino sans gb, arial, microsoft yahei ui, microsoft yahei, simsun, sans-serif
}

.section_login {
	display: flex;
	position: fixed;
	right: 0;
	top: 0;
	background-color: rgba(255, 255, 255, .8);
	min-width: 480px;
	max-width: 640px;
	height: 100%;
	border-left: 1px solid rgba(255, 255, 255, .4);
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(24px);
	-webkit-backdrop-filter: blur(24px)
}

.section_login .section_body {
	display: flex;
	flex-wrap: wrap;
	flex-flow: column;
	width: 100%;
	width: 360px
}

.section_login .section_body .title {
	display: flex;
	flex-flow: column
}

.section_login .section_body .title .logo {
	display: flex;
	gap: 8px;
	width: 80px;
	height: 80px;
	padding: 8px;
	box-sizing: border-box;
	position: relative;
	transform: rotate(-45deg)
}

.section_login .section_body .title .logo .logopath_1 {
	position: relative;
	overflow: hidden;
	height: 0px;
	width: 16px;
	align-self: flex-end;
	animation: logo_path-a798f117 .3s .6s ease-out forwards
}

.section_login .section_body .title .logo .logopath_2 {
	position: relative;
	overflow: hidden;
	height: 0;
	width: 16px;
	animation: logo_path-a798f117 .3s .3s forwards
}

.section_login .section_body .title .logo .logopath_3 {
	position: relative;
	overflow: hidden;
	height: 0;
	width: 16px;
	align-self: flex-end;
	animation: logo_path-a798f117 .3s ease-in forwards
}

.section_login .section_body .title .logo .logopath_1 svg,
.section_login .section_body .title .logo .logopath_3 svg {
	position: absolute;
	bottom: 0
}

.section_login .section_body .title .text {
	overflow-wrap: break-word;
	color: rgba(0, 0, 0, .8);
	font-size: 36px;
	font-weight: 700;
	text-align: left;
	white-space: nowrap;
	margin-bottom: 32px;
	margin-top: 16px
}

.section_login .section_body .form_login {
	display: flex;
	flex-wrap: wrap;
	flex-flow: column;
	width: 100%
}

.section_login .section_body .form_login .label {
	width: 28px;
	height: 20px;
	overflow-wrap: break-word;
	color: rgba(0, 0, 0, .8);
	font-size: 14px;
	text-align: left;
	white-space: nowrap;
	margin-bottom: 8px
}

.section_login .section_body .form_login input {
	background-color: rgba(255, 255, 255, .6);
	border-radius: 8px;
	width: 360px;
	height: 48px;
	border: 1px solid rgba(0, 0, 0, .1);
	font-size: 16px;
	margin-bottom: 32px;
	padding: 0 16px;
	box-sizing: border-box;
	outline-style: none;
	transition: .3s all;
	color: rgba(0, 0, 0, .8)
}

.section_login .section_body .form_login input::placeholder {
	color: rgba(0, 0, 0, .2)
}

.section_login .section_body .form_login input:hover {
	border: 1px solid rgba(0, 0, 0, .2);
	background-color: rgba(255, 255, 255, .8)
}

.section_login .section_body .form_login input:focus {
	border: 1px solid rgb(0, 96, 255);
	background-color: #fff;
	box-shadow: 0 0 0 2px rgba(0, 96, 255, .1)
}

.section_login .section_body .form_login .btn_login {
	height: 48px;
	width: 180px;
	box-sizing: border-box;
	left: 0;
	right: 0;
	top: 0;
	bottom: -1px;
	background: radial-gradient(34.99% 256.21% at 72.3% 100%, rgba(47, 155, 255, .6), rgba(47, 155, 255, 0)), linear-gradient(180deg, #2f7dff, #0060ff);
	border: 1px solid rgba(0, 0, 0, .08);
	box-shadow: 0 16px 24px -16px rgba(0, 96, 255, .4), inset 0 0 12px rgba(255, 255, 255, .3);
	border-radius: 8px;
	margin-top: 32px;
	align-self: flex-end;
	font-size: 14px;
	color: #fff;
	transition: .3s all;
	margin-top: 1rem;
	width: 100%
}

.section_login .section_body .form_login .btn_login:hover {
	filter: brightness(1.2);
	cursor: pointer
}

.section_login .section_body .form_login .links {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end
}

.section_login .section_body .form_login .links a {
	font-size: .875em;
	color: #057feb
}

.section_login .section_body .form_login .captcha {
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: auto 8px 170px
}

.section_login .section_body .form_login .captcha input {
	width: 100%;
	margin-bottom: 1rem
}

.section_login .section_body .form_login .captcha .captcha_image {
	height: 48px;
	cursor: pointer;
	width: 100%
}

.section_login .section_body .form_login .captcha .captcha_image img {
	max-width: 100%
}

.section_login .section_body .form_login span.text {
	display: block;
	width: 100%;
	color: #f05d41;
	font-size: 14px
}

@media screen and (max-width: 680px) {
	.section_login {
		width: 100%;
		max-width: 100%;
		min-width: 100%;
		padding: 0
	}
}

@keyframes bg_scale-a798f117 {
	to {
		transform: scale(1)
	}
}

@keyframes show_form-a798f117 {
	to {
		right: 0
	}
}

@keyframes logo_path-a798f117 {
	to {
		height: 64px
	}
}

.bg {
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	position: fixed;
	z-index: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100vw;
	height: 100vh
}