<%
local util  = require "luci.util"
local sys   = require "luci.sys"
local uci   = require "luci.model.uci".cursor()
local running = (sys.call("pidof ghttpd >/dev/null") == 0)
local port = uci:get("ghttpd", "config", "port") or "8333"
-%>
<div class="cbi-value">
    <label class="cbi-value-title"><%:Status%></label>
    <div class="cbi-value-field">
        <% if running then %>
        <button class="cbi-button cbi-button-success" disabled="true"><%:Ghttpd is running%></button>
        <% else %>
        <button class="cbi-button cbi-button-negative" disabled="true"><%:Ghttpd is not running%></button>
        <% end %>
    </div>
</div>
<% if running then %>
    <div class="cbi-value cbi-value-last">
        <label class="cbi-value-title">&nbsp;</label>
        <div class="cbi-value-field">

        <input type="button" class="btn cbi-button cbi-button-apply" name="start" value="<%:Open Ghttpd%>" onclick="window.open('http://'+location.hostname+':<%=port%>/', '_blank')">
        </div>
    </div>
<% end %>