<script type="text/javascript">//<![CDATA[
	XHR.poll(3, '<%=url([[admin]], [[status]], [[netdata_status]])%>', null,
		function(x, d) {
			var tb = document.getElementById('netdata_status');
			if (d && tb)
			{
				if (d.running)
				{
					tb.innerHTML = '<em style=\"color:green\"><%:The Netdata service is running.%></em>';
				}
				else
				{
					tb.innerHTML = '<em style=\"color:red\"><%:The Netdata service is not running.%></em>';
				}
			}
		}
	);
//]]></script>
<style>.mar-10 {margin-left: 50px; margin-right: 10px;}</style>
<fieldset class="cbi-section">
	<legend><%:NetData Status%></legend>
	<p id="netdata_status">
		<em><%:Collecting data...%></em>
	</p>
</fieldset>