
config spotifyd 'config'
	option enabled '0'

	# credential info
	option username ''
	option token ''

	# device info
	option device_name ''
	option device_type ''

	# device control
	option backend 'alsa'
	option control ''
	option device ''
	option mixer ''

	# song control
	option autoplay '0'
	option audio_format 's32'
	option bitrate '320'

	# volume control
	option initial_volume ''
	option volume_normalisation ''
	option normalisation_pregain ''
	option volume_controller ''

	# cache
	option no_audio_cache '1'
	option cache_path ''
	option max_cache_size ''

	# advanced
	option on_song_change_hook ''
	option proxy ''
	option zeroconf_port ''
