<%
	local util = require "luci.util"
	local disp = require "luci.dispatcher"
	local node = disp.context.dispatched
	local path = table.concat(disp.context.path, "-")
	local hostname = luci.sys.hostname()
	luci.http.prepare_content("text/html; charset=UTF-8")
-%>
	<!DOCTYPE html>
	<html lang="<%=luci.i18n.context.lang%>">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Script-Type" content="text/javascript" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="msapplication-navbutton-color" content="#000">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="theme-color" content="#000">
		<!--  -->
		<script type="text/javascript" src="<%=url('admin/translations', luci.i18n.context.lang)%>"></script>
		<script type="text/javascript" src="<%=resource%>/cbi.js?v=0.0.5"></script> 
		<script type="text/javascript" src="<%=resource%>/xhr.js?v=0.0.5"></script>
		<!--  -->
		<link rel="stylesheet" href="<%=media%>/css/cascade.css?v=<%=math.random(1,100000)%>">
		<link rel="stylesheet" href="<%=media%>/assets/style.css?v=<%=math.random(1,100000)%>">		<!--  -->
		<title>
			<%=hostname%> - LuCI
		</title>
		<!--  -->
		<script>
			(function(){
				window.ThemeDog = {
					HostName: "<%=hostname%>",
					BaseURL:"<%=media%>",
				}
			})()
		</script>
	</head>
	<body name="<%=hostname%>"   class="lang_<%=luci.i18n.context.lang%> <% if node then %><%= striptags( node.title ) %><%- end %>" data-page="<%= pcdata(table.concat(disp.context.requestpath, "-")) %>">
		<div id="maincontent"  style="display:none;"> 
			<!-- 刷新 -->
			<div id="indicators" class="pull-right"></div>
