<script type="text/javascript">//<![CDATA[
XHR.poll(1, '<%=url([[admin]], [[services]], [[gecoosac]], [[status]])%>', null,
	function(x, data) {
		var tb = document.getElementById('gecoosac_status');
		if (data && tb) {
			if (data.running) {
				var links = '<font color=green>集客AC控制器 <%:运行中%></font><input class="cbi-button mar-10" type="button" value="<%:打开管理界面%>" onclick="openClient();" />';
				tb.innerHTML = links;
			} else {
				tb.innerHTML = '<font color=red>集客AC控制器 <%:未运行%></font>';
			}
		}
	}
);

function openClient() {
	var clientPort = window.document.getElementById("cbid.gecoosac.config.port").value
	var url = window.location.protocol + "//" + window.location.hostname + ":" + clientPort;
	window.open(url);
};
//]]>
</script>
<style>.mar-10 {margin-left: 50px; margin-right: 10px;}</style>
<fieldset class="cbi-section">
	<p id="gecoosac_status">
		<em><%:Collecting data...%></em>
	</p>
</fieldset>
