config global
    option enabled '0'
    option anonymous '1'
    option port '8888'
    option root '/etc/webdav2/root'

config user 'everyone'
    option username 'everyone'
    option onlyroot '1'
    list ro '/public'
    list ro '/www'

config user 'users'
    option username 'users'
    list ro '/work'

config user
    option username 'admin'
    option password 'password'
    list rw '/mnt'
    list rw '/public'
    list rw '/work'

config user
    option username 'jim'
    option password 'abcdef'
    list rw '/work'

