<script type="text/javascript">//<![CDATA[
	XHR.poll(3, '<%=url([[admin]], [[network]], [[homebox_status]])%>', null,
		function(x, data) {
			var tb = document.getElementById('homebox_status');
			if (data && tb)
			{
				if (data.run)
				{
					tb.innerHTML = '<br/><em style=\"color:green\"><%:The homebox service is running.%></em>';
				}
				else
				{
					tb.innerHTML = '<br/><em style=\"color:red\"><%:The homebox service is not running.%></em>';
				}

			}
		}
	);
//]]></script>


<style>.mar-10 {margin-left: 50px; margin-right: 10px;}</style>
<fieldset class="cbi-section">
	<legend><%:homebox Status%></legend>
	<p id="homebox_status">
		<em><%:Collecting data...%></em>
	</p>
</fieldset>