<%#
 Copyright 2020-2024 sirpdboy Wich <sirpdboy@qq.com>
 https://github.com/sirpdboy/netspeedtest
 Licensed to the public under the Apache License 2.0.
-%>
<%+cbi/valueheader%>
	   <div class="cbi-value" ><label class="cbi-value-title"><%= translate("Test server port delay") %></label>
  	       <div class="cbi-value-field">
  	       <input type="button" class="btn cbi-button cbi-button-apply" value='<%:Perform port test%>' onclick="return speedtestportrun(this, 'speedtestport')" />
               <span id="speedtestport-status"></span>
 	        </div>
	   </div>


<script type="text/javascript">//<![CDATA[


function speedtestportrun(btn,sid) {
	var opt={
    		base:"cbid.netspeedtest."+sid,
    		get:function(opt){
    			var id=this.base+'.'+opt;
    			var obj=document.getElementsByName(id)[0] || document.getElementsByClassName(id)[0] || document.getElementById(id)
    			if (obj){
    				return obj;
    			}else{
    				return null;
    			}
    		},
    		getlist:function(opt){
    			var id=this.base+'.'+opt;
    			var objs=document.getElementsByName(id) || document.getElementsByClassName(id);
    			var ret=[];
    			if (objs){
    				for (var i=0;i < objs.length;i++){
    					ret[i]=objs[i].value;
    				}
    			}else{
    				alert("<%:Fatal on get option,please help in debug%>:"+opt);
	    		}
	    		return ret;
    		},
    		query:function(param,src,tval="1",fval="0"){
    			var ret="&"+param+"=";
    			var obj=this.get(src);
    			if (obj){
    				if (obj.type=="checkbox"){
    					return ret+(obj.checked==true ? tval:fval);
    				}else{
    					return ret+encodeURIComponent(obj.value);
    				}
    			}
    			return ''
    		}
    }

    const RUN_URL = '<%=luci.dispatcher.build_url("admin", "network", "netspeedtest","test_port")%>';
    const S_URL = '<%=luci.dispatcher.build_url("admin", "network", "netspeedtest","speedtestport")%>';

	var output=document.getElementById("speedtestport-status");

		btn.value='<%:Check...%>';
		btn.disabled=true;
        var xdomain=opt.get("domain").value;
        var xport=opt.get("port").value;
		console.log(xdomain);
		XHR.get(RUN_URL, {
            domain:xdomain,
            port:xport
				},
				function(x,rv) {

					if (output)
					{	
					    console.log(x);
						if (rv.ping=="0")
						output.outerHTML = "<font style='color:red'><%:Test failed%></font>";
						else
						output.outerHTML = "<font style='color:green'><%:Test server port delay%> :" + rv.ping + " ms" + "</font>";
					}
						btn.disabled=false;
						btn.value='<%:Perform port test%>';
				}
		);
		return false;
	}
		

//]]></script>

<%+cbi/valuefooter%>
