<%
local util  = require "luci.util"
local container_status = util.trim(util.exec("/usr/libexec/istorec/jellyfin.sh status"))
local container_install = (string.len(container_status) > 0)
local container_running = container_status == "running"
-%>
<div class="cbi-value">
    <label class="cbi-value-title"><%:Status%></label>
    <div class="cbi-value-field">
        <% if container_running then %>
        <button class="cbi-button cbi-button-success" disabled="true"><%:Jellyfin is running%></button>
        <% else %>
        <button class="cbi-button cbi-button-negative" disabled="true"><%:Jellyfin is not running%></button>
        <% end %>
    </div>
</div>
<%
if container_running then
    local port=util.trim(util.exec("/usr/libexec/istorec/jellyfin.sh port"))
    if port == "" then
        port="8096"
    end
-%>
<div class="cbi-value cbi-value-last">
    <label class="cbi-value-title">&nbsp;</label>
    <div class="cbi-value-field">

    <input type="button" class="btn cbi-button cbi-button-apply" name="start" value="<%:Open Jellyfin%>" onclick="window.open('http://'+location.hostname+':<%=port%>/', '_blank')">
    </div>
</div>
<% end %>