<div class="button-container">
  <button class="my-button" onclick="window.open('http://111.17.200.130')">转到认证页</button>
  <button class="my-button" onclick="window.open('http://111.17.200.130:8081/Self/login')">转到服务页</button>
</div>

<style>
.centered-table {
  text-align: center;
  margin: 0 auto;
}

.button-container {
  text-align: right;
  margin-top: 20px;
}

.my-button {
  width: 150px;
  height: 40px;
  background-color: #FF007F;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
</style>
