<script type="text/javascript">//<![CDATA[
XHR.poll(1, '<%=url([[admin]], [[services]], [[airconnect]], [[status]])%>', null,
	function(x, data) {
		var tb = document.getElementById('airconnect_status');
		if (data && tb) {
			if (data.running) {
				var links = '<em style=\"color:green\"><b>AirConnect <%:RUNNING%></b></em>';
				tb.innerHTML = links;
			} else {
				tb.innerHTML = '<em style=\"color:red\"><b>AirConnect <%:NOT RUNNING%></b></em>';
			}
		}
	}
);

//]]>
</script>
<style>.mar-10 {margin-left: 50px; margin-right: 10px;}</style>
<fieldset class="cbi-section">
	<p id="airconnect_status">
		<em><%:Collecting data...%></em>
	</p>
</fieldset>
