<script>
		setTimeout(function(){
		var links = document.createElement('div');
		links.innerHTML ='<div class="table"><div class="tr"><div class="td left" width="33%"><a href="https://t.me/opwrts" target="_blank">TG交流(小粉红勿扰)</a></div><div class="td left" width="33%"><a href="https://github.com/kiddin9/OpenWrt_x86-r2s-r4s" target="_blank">GitHub仓库</a></div><div class="td left"><a href="http://op.supes.top/" target="_blank">固件下载</a></div></div></div>';
		var telegram = document.querySelectorAll(".cbi-section")[0];
		telegram.appendChild(links);
		}, 2000);
</script>
