<%+header%>
<%
  local jsonc = require "luci.jsonc"
  local features = { "_lua_force_array_" }
  if luci.sys.call("which ota >/dev/null 2>&1 && ota >/dev/null 2>&1") == 0 then
      features[#features+1] = "ota"
  end
  if luci.sys.call("[ -d /ext_overlay ] >/dev/null 2>&1") == 0 then
      features[#features+1] = "sandbox"
  end
  if luci.sys.call("[ -e /etc/init.d/dockerd ] >/dev/null 2>&1") == 0 then
      features[#features+1] = "dockerd"
  end
  if luci.sys.call("[ -e /etc/init.d/unishare ] >/dev/null 2>&1") == 0 then
      features[#features+1] = "unishare"
  end
-%>
<script>
    (function(){
      window.token = "<%=token%>";
      var vue_prefix="<%=prefix%>";
      window.vue_base = vue_prefix + '/';
      window.quickstart_features = <%=jsonc.stringify(features)%>;
      if (location.pathname != vue_prefix && !location.pathname.startsWith(window.vue_base)) {
        if (window.history && window.history.replaceState) {
          window.history.replaceState({}, null, vue_prefix);
        } else {
          location.href = vue_prefix;
        }
      }
    })();
</script>
<div id="app">
</div>
<script type="module" crossorigin src="/luci-static/quickstart/index.js<%# ?v=PKG_VERSION %>"></script>
<link rel="stylesheet" href="/luci-static/quickstart/style.css<%# ?v=PKG_VERSION %>">
<%+footer%>
