
config ua2f 'enabled'
	option enabled '0'

config ua2f 'firewall'
	option handle_fw '1'
	option handle_tls '0'
	option handle_intranet '1'

config ua2f 'main'
	option mode 'NFQUEUE'
	option listen_port '10010'
	option nfqueue_workers '1'
	option proxy_workers '0'
	option custom_ua ''
	option disable_connmark '0'
	option max_http_sessions '0'
	option session_ttl '300'
