config baidudrive
	option 'enabled' '0'
	option 'data_dir' ''
	option 'host' '0.0.0.0'
	option 'port' '10780'
	option 'sdk_dir' '/opt/baidunas-sdk'
	option 'sdk_host' '127.0.0.1'
	option 'sdk_port' '8001'
	option 'macid' ''
	option 'device_type' ''
	option 'usb_path' ''
	option 'download_path' '/'
	option 'quota_path' ''
	option 'tmp_path' ''
	option 'log_level' '7'
