<script type="text/javascript">//<![CDATA[
XHR.poll(3, '<%=url([[admin]], [[services]], [[nat6-helper]], [[status]])%>', null,
	function(x, data) {
		var tb = document.getElementById('nat6_status');
		if (data && tb) {
			if (data.running) {
				var links = '<em><b><font color=green>nat6 运行状态 <%: 已运行%></font></b></em>';
				tb.innerHTML = links;
			} else {
				tb.innerHTML = '<em><b><font color=red>nat6 运行状态 <%: 未运行%></font></b></em>';
			}
		}
	}
);
//]]>
</script>
<style>.mar-10 {margin-left: 50px; margin-right: 10px;}</style>
<fieldset class="cbi-section">
	<p id="nat6_status">
		<em><%:Collecting data...%></em>
	</p>
</fieldset>
