<%
local map = self.map
local api = map.api
local sid = self.section
local config = map.config
-%>
<script type="text/javascript">
	//<![CDATA[
	let node_id = "<%=sid%>";
	let node_config_url = '<%=api.url("node_config")%>/' + node_id;

	document.addEventListener("DOMContentLoaded", function () {
		waitForElement('select[name*="<%=config%>"][name*="type"]', function(el) {
			let o_val = el.value;
			el.addEventListener("change", () => {
				el.blur();
				if (o_val != el.value) {
					let save = true;
					if (save) {
						/*
						const saveBtn = document.getElementsByClassName('cbi-button-save');
						if (saveBtn && saveBtn.length > 0) {
							saveBtn[saveBtn.length - 1].click();
						}
						*/
						update_config(node_id, {
							remarks: getOption("<%=config%>", "<%=sid%>", "remarks").value,
							group: getOption("<%=config%>", "<%=sid%>", "group").value,
							type: getOption("<%=config%>", "<%=sid%>", "type").value,
							protocol: ''
						}, node_config_url);
					}
				}
			});
		});
		waitForElement('select[name*="<%=config%>"][name*="protocol"]', function(el) {
			let o_val = el.value;
			el.addEventListener("change", () => {
				el.blur();
				if (el.value.startsWith("_") || (o_val.startsWith("_") && !el.value.startsWith("_"))) {
					let name_split = el.name.split(".");
					let name = name_split[name_split.length - 1];
					let save = true;
					if (save) {
						/*
						const saveBtn = document.getElementsByClassName('cbi-button-save');
						if (saveBtn && saveBtn.length > 0) {
							saveBtn[saveBtn.length - 1].click();
						}
						*/
						update_config(node_id, {
							remarks: getOption("<%=config%>", "<%=sid%>", "remarks").value,
							group: getOption("<%=config%>", "<%=sid%>", "group").value,
							protocol: getOption("<%=config%>", "<%=sid%>", name).value,
						}, node_config_url);
					} else {
						window.location.href = node_config_url + "?select_proto=" + encodeURIComponent(el.value);
					}
				}
			});
		});
	});
	//]]>
</script>
