config glorytun 'vpn'
	option enable '0'
	option host '127.0.0.1'
	option port '65001'
	option dev 'tun0'
	option key ''
	option mptcp '1'
	option proto 'tcp'
	option chacha20 '1'
	option mtuauto '1'
	option localip '10.255.255.2'
	option remoteip '10.255.255.1'
	option multiqueue '1'
	option cpu_affinity '1'
	option label 'Default VPN'
	option timeout '10000'