<!-- map footer -->
<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function () {
		setTimeout(updateElements, 200);
		function updateElements() {
			//删除value控件和描述之间多余换行
			document.querySelectorAll("div.cbi-value-description").forEach(function(descDiv) {
				var prev = descDiv.previousSibling;
				while (prev && prev.nodeType === Node.TEXT_NODE && prev.textContent.trim() === "") {
					prev = prev.previousSibling;
				}
				if (prev && prev.nodeType === Node.ELEMENT_NODE && prev.tagName === "BR") {
					prev.remove();
				}
			});
		}
	});
</script>