config autorepeater 'global'
	option mwifi_enabled '0'
	list interface 'wwan'
	option ethernet_bt ''
	option date_format '%m/%d %R'
	option run_dir '/var/run/autorepeater'
	option log_dir '/var/log/autorepeater'
	option scanpercent '45'
	option minquality '50'
	option minipercent '50'
	option associate_order '1'
	option retry_unit 'minutes'
	option retry_interval '5'
	option dhcp_timeout '50'
	option ping_host 'www.baidu.com'
	option html_page 'autoap.html'
	option use_logfile '1'
	option use_syslog '2'
	option log_lines '500'
	option upnpc_enabled '0'
	option upnpc_forceroot '1'
	option upnpc_failsafe '3'
	list root_url 'http://[ROUTERIP]:1900/igd.xml'
	list root_url 'http://[ROUTERIP]:1900/rootDesc.xml'
	list root_url 'http://[ROUTERIP]:2058/rootDesc.xml'
	list root_url 'http://[ROUTERIP]:5000/rootDesc.xml'
	list root_url 'http://[ROUTERIP]:5555/rootDesc.xml'
	list root_url 'http://[ROUTERIP]:8200/rootDesc.xml'
	list root_url 'http://[ROUTERIP]:9000/rootDesc.xml'
	list root_url 'http://[ROUTERIP]:12470/rootDesc.xml'
