
config dnscrypt-proxy 'ns1'
	option enable '0'
	list resolvers 'public-resolvers'
	option netprobe_address '114.114.114.114:53'
	option bootstrap_resolvers '114.114.114.114:53'
	option listen_addresses '127.0.0.1:5335'
	option force 'cache dnscrypt_servers lb_estimator ignore_system_dns cert_ignore_timestamp block_unqualified block_undelegated ipv4_servers require_nofilter require_nolog doh_servers block_ipv6'
	list forwarding_rules '/etc/dnsmasq.oversea/oversea_list.conf'
	list blocked_names '/usr/share/adbyby/dnsmasq.adblock'

